[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "blog"]
	path = blog
	url = https://github.com/yoshitani/blog
	branch = master
