[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "yoshitani.github.io"]
	path = pablic
	url = https://github.com/yoshitani/yoshitani.github.io
	branch = master
